

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body{
	
}   

#about{
	
}

#mypic{
	float:left;
	padding:40px;

}       

#mydescription{

}         

#skills{
	
}


#myskills{
	color:green;
}
















